.intro-wrapper{
    width: 984px;
    margin: 0 auto;
}

@media screen  and (min-width: 769px) and (max-width: 1099px) {
   .intro-wrapper {
    margin: 0 0 0 48px;
   } 
}

@media screen  and (min-width: 400px) and (max-width: 768px) {
    .intro-wrapper {
     margin: 0 24px;
    } 
 }

 @media screen and (max-width: 399px) {
    .intro-wrapper {
        margin: 0 16px;
    }
 }