.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 96px);
    margin: 0 auto;
    padding: 92px 0 24px 0;
}

@media screen and (max-width: 1024px) {
    .footer {
        width: calc(100% - 96px);
    }
}

@media screen and (max-width: 785px) {
    .footer {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        padding-top: 64px;
    }
}

@media screen and (max-width: 520px) {
    .footer {
        width: calc(100% - 32px);
    }
}